### Task 1. 

#### MapReduce

Use MapReduce to calculate the average housing price in each zip code and filter out records in which gross sqft is less than 500 and sale price is less than 100000. Round the average housing price to 2 decimals, and sort the output by housing price ascending.

In [32]:
!wget -O housingSalseSample.csv https://github.com/CUSP2022ADS/Data/raw/main/housingSalseSample.csv

--2022-02-13 05:36:38--  https://github.com/CUSP2022ADS/Data/raw/main/housingSalseSample.csv
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/CUSP2022ADS/Data/main/housingSalseSample.csv [following]
--2022-02-13 05:36:39--  https://raw.githubusercontent.com/CUSP2022ADS/Data/main/housingSalseSample.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6167298 (5.9M) [text/plain]
Saving to: ‘housingSalseSample.csv’

housingSalseSample. 100%[===================>]   5.88M  --.-KB/s    in 0.08s

2022-02-13 05:36:39 (77.0 MB/s) - ‘housingSalseSample.csv’ saved [6167298/6167298]

In [3]:
import pandas as pd
import csv
from functools import reduce
from multiprocessing import Pool

In [58]:
housing=pd.read_csv('housingSalseSample.csv')

       BOROUGH  BLOCK   LOT  ... YEAR BUILT SALE PRICE   SALE DATE
0            1   1170  1010  ...     1975.0     551000  2011-07-28
1            4   1275    45  ...     1941.0     338000  2011-05-20
2            3   5746    58  ...     1910.0    1250000  2014-12-04
3            4   2086    50  ...     1955.0     253000  2016-03-09
4            4   5028     7  ...     1955.0          0  2016-12-30
...        ...    ...   ...  ...        ...        ...         ...
49995        5    143    66  ...     1915.0          0  2014-10-15
49996        4   4686    34  ...     1925.0     970000  2014-10-28
49997        4   6670     1  ...     1949.0     140000  2014-10-17
49998        1   1247    37  ...     1917.0     880000  2012-10-31
49999        3    305    54  ...     1899.0    1300000  2013-06-07

[50000 rows x 10 columns]

In [60]:
housing.dtypes

BOROUGH                      int64
BLOCK                        int64
LOT                          int64
BUILDING CLASS CATEGORY     object
ADDRESS                     object
ZIP CODE                   float64
GROSS SQUARE FEET          float64
YEAR BUILT                 float64
SALE PRICE                   int64
SALE DATE                   object
dtype: object

In [185]:
def returnInfo(record): 
    return(record['ZIP CODE'],record['GROSS SQUARE FEET'],record['SALE PRICE'])

def filterHouse(record):
    if record[1] == '':
      return False
    else:
      SP=record[2]
      GSF=record[1]
      if float(SP)>=100000 and float(GSF)>=500:
        return True
      else:
        return False

def PriceList(result,record):
    zipcode,price=record[0],float(record[2])
    result[zipcode]=result.get(zipcode,[])+[price]
    return result

def averagePrice(record):
    zipcode,price=record[0],record[1]
    return [zipcode,round(sum(price)/len(price),2)]

In [186]:
with open('housingSalseSample.csv', 'r') as fi:
    reader = csv.DictReader(fi)
    output1 = list(map(returnInfo,reader))

[('10024.0', '0.0', '551000'),
 ('11372.0', '0.0', '338000'),
 ('11219.0', '3861.0', '1250000')]

In [187]:
output2 = list(filter(filterHouse, output1))

[('11219.0', '3861.0', '1250000'),
 ('10472.0', '3150.0', '778961'),
 ('11214.0', '5054.0', '2000000')]

In [193]:
output3=list(map(averagePrice,list(reduce(PriceList,output2,{}).items())))

In [194]:
output3

[['11219.0', 1327215.77],
 ['10472.0', 795404.67],
 ['11214.0', 1035225.83],
 ['11385.0', 873371.88],
 ['11235.0', 982253.76],
 ['11412.0', 399155.21],
 ['11369.0', 622791.59],
 ['11419.0', 492735.96],
 ['11694.0', 730476.88],
 ['11367.0', 768107.9],
 ['10308.0', 527758.86],
 ['11356.0', 735012.49],
 ['11234.0', 664201.65],
 ['10024.0', 7054032.29],
 ['11215.0', 2582640.07],
 ['11236.0', 596680.29],
 ['11208.0', 743435.28],
 ['10065.0', 15705059.6],
 ['10473.0', 1030045.55],
 ['11435.0', 731394.99],
 ['11228.0', 880629.64],
 ['11217.0', 3225012.91],
 ['11220.0', 1216734.69],
 ['11207.0', 613667.71],
 ['10304.0', 602840.01],
 ['10026.0', 4545066.9],
 ['11375.0', 1056215.05],
 ['11421.0', 568870.12],
 ['11223.0', 1318544.52],
 ['11366.0', 780072.02],
 ['11213.0', 1012455.99],
 ['11211.0', 2634153.86],
 ['10469.0', 434094.31],
 ['11354.0', 2547334.39],
 ['11229.0', 1068231.97],
 ['11230.0', 1564806.72],
 ['11222.0', 3227038.18],
 ['10462.0', 1698937.45],
 ['11360.0', 1028323.12],
 ['11693.0', 723650.8],
 ['10128.0', 5519040.86],
 ['11378.0', 1037011.15],
 ['10310.0', 445008.71],
 ['10307.0', 645944.47],
 ['10031.0', 3142105.56],
 ['11373.0', 1204621.83],
 ['10306.0', 506964.65],
 ['11355.0', 1248824.73],
 ['11358.0', 1035409.18],
 ['11101.0', 2949586.8],
 ['11357.0', 884996.2],
 ['10002.0', 6028155.38],
 ['10457.0', 1379484.73],
 ['11436.0', 395079.8],
 ['11209.0', 1311731.48],
 ['11218.0', 1992528.41],
 ['11226.0', 1992095.52],
 ['11420.0', 457267.17],
 ['11428.0', 466973.59],
 ['11237.0', 1702152.19],
 ['11105.0', 1514668.13],
 ['10305.0', 495058.45],
 ['10314.0', 536760.2],
 ['11221.0', 915948.57],
 ['10005.0', 1188166.67],
 ['11204.0', 1017000.72],
 ['11203.0', 663850.74],
 ['11434.0', 411018.06],
 ['10075.0', 11751041.67],
 ['11429.0', 427455.36],
 ['11365.0', 812889.32],
 ['11206.0', 1699763.72],
 ['10467.0', 1469653.24],
 ['11414.0', 569275.75],
 ['10030.0', 3990743.89],
 ['10464.0', 659633.33],
 ['10465.0', 478217.51],
 ['10029.0', 7890760.87],
 ['11364.0', 786463.58],
 ['10474.0', 1590918.07],
 ['11212.0', 829900.79],
 ['11224.0', 1410246.46],
 ['11379.0', 669188.11],
 ['11361.0', 949232.91],
 ['10463.0', 2226333.86],
 ['11692.0', 548334.38],
 ['11106.0', 4407183.39],
 ['10471.0', 1374612.28],
 ['11231.0', 3617762.29],
 ['11433.0', 451422.63],
 ['10309.0', 606653.04],
 ['11210.0', 889549.23],
 ['10302.0', 470090.74],
 ['10038.0', 8659505.88],
 ['11413.0', 495741.91],
 ['10027.0', 3405840.84],
 ['11427.0', 594743.08],
 ['10303.0', 468303.98],
 ['10466.0', 450581.63],
 ['11426.0', 1208204.83],
 ['10461.0', 649394.14],
 ['10301.0', 513330.6],
 ['10312.0', 546918.9],
 ['10013.0', 10239049.18],
 ['11225.0', 1508880.23],
 ['11205.0', 2054203.77],
 ['11411.0', 413113.17],
 ['11416.0', 534390.91],
 ['11201.0', 5135829.1],
 ['11374.0', 3766645.53],
 ['11233.0', 796036.56],
 ['11103.0', 1865416.57],
 ['11423.0', 813477.31],
 ['10028.0', 8635561.09],
 ['11104.0', 1579437.59],
 ['10018.0', 42762032.3],
 ['10023.0', 5241292.68],
 ['11368.0', 822431.66],
 ['10460.0', 741585.06],
 ['11691.0', 768303.87],
 ['10280.0', 960403.0],
 ['10455.0', 1181777.76],
 ['10016.0', 11212094.22],
 ['10019.0', 15068211.8],
 ['11422.0', 464823.88],
 ['10003.0', 7125054.41],
 ['10470.0', 687713.11],
 ['11216.0', 1240619.76],
 ['11417.0', 601672.68],
 ['10040.0', 5728003.78],
 ['10009.0', 7219627.55],
 ['11238.0', 2292420.37],
 ['10459.0', 1282276.5],
 ['11377.0', 1093352.9],
 ['10011.0', 26492519.91],
 ['11418.0', 495990.12],
 ['10025.0', 3726184.29],
 ['11249.0', 5810922.5],
 ['10022.0', 17016283.66],
 ['10036.0', 17945949.82],
 ['10458.0', 1550369.86],
 ['10454.0', 1834930.41],
 ['10012.0', 7524261.25],
 ['10004.0', 75389177.6],
 ['11370.0', 945969.32],
 ['11432.0', 748544.99],
 ['10452.0', 2887295.25],
 ['10453.0', 1894081.43],
 ['10456.0', 1300910.13],
 ['11004.0', 593816.5],
 ['11372.0', 1591459.07],
 ['11363.0', 971187.5],
 ['10034.0', 4226299.33],
 ['10451.0', 4159695.24],
 ['11232.0', 1888808.34],
 ['11239.0', 415614.0],
 ['11102.0', 3416148.29],
 ['10010.0', 23156362.71],
 ['10032.0', 5458796.05],
 ['10035.0', 2766864.58],
 ['10017.0', 47908732.14],
 ['11001.0', 528502.94],
 ['10468.0', 1968299.19],
 ['10014.0', 11315136.8],
 ['11362.0', 950791.67],
 ['10069.0', 2291250.0],
 ['11415.0', 615667.81],
 ['10001.0', 37657214.29],
 ['11040.0', 534166.67],
 ['10021.0', 9673716.44],
 ['10475.0', 2240271.88],
 ['10037.0', 1256848.33],
 ['10033.0', 9181663.73],
 ['10007.0', 4819929.33],
 ['10803.0', 995000.0],
 ['11109.0', 2452500.0],
 ['10039.0', 10773693.0],
 ['10006.0', 752666.67],
 ['0.0', 1796413.5]]

In [204]:
output=sorted(output3,key=lambda x:x[1])

In [206]:
'''grading function
please pass your output into this function and upload the generated csv file 
together with your notebook to your GitHub repo'''

def grading(output):
    import pandas as pd
    pd.DataFrame(output,columns=['zipcode','price']).to_csv('output1.csv',index=False)

grading(output)

### Task 2. 
#### multiprocessing and Chunk

In [111]:
!wget -O ADSSession2Task2Data.csv https://raw.githubusercontent.com/CUSP2022ADS/Data/main/ADSSession2Task2Data.csv

--2022-02-13 06:50:25--  https://raw.githubusercontent.com/CUSP2022ADS/Data/main/ADSSession2Task2Data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 279369 (273K) [text/plain]
Saving to: ‘ADSSession2Task2Data.csv’

ADSSession2Task2Dat 100%[===================>] 272.82K  --.-KB/s    in 0.03s

2022-02-13 06:50:26 (8.93 MB/s) - ‘ADSSession2Task2Data.csv’ saved [279369/279369]

In [122]:
Session=pd.read_csv('ADSSession2Task2Data.csv')
Session

      Type                Value Select
0        0   0.1488486295446153      0
1        3   0.2198529412734188      1
2        7  0.15871379686112896      0
3        0   0.9980337347337275      1
4        3   0.4923200916998063      0
...    ...                  ...    ...
11997    8   0.9252856634364992      0
11998    6  0.12564358624103245      1
11999    7   0.9328986651807677      0
12000    2   0.2858165168913036      0
12001    2    0.749003640226192      1

[12002 rows x 3 columns]

Apply the chunk and MapReduce method to sum up each type's value in the synthetic dataset—only keep records which $Select$ value is 1, and read 1000 lines in each chunk. Use multiprocessing package to deploy the task to multi-cores. The output should only have two columns: type and total value.

Hint: filter function is not available in multiprocessing, implement an if-else function in the map or reduce step.

In [149]:
def returnInfo(record): 
    return(record['Type'],record['Value'],record['Select'])



def ValueList(result,record):
    Type,Value,Select=record[0],record[1],record[2]
    if Select == '1':
        result[Type]=result.get(Type,[])+[Value]
    return result

def sumvalue(record):
    Type,Value=record[0],map(eval,record[1])
    return [Type,sum(Value)]

In [130]:
with open('ADSSession2Task2Data.csv', 'r') as fi:
    reader = csv.DictReader(fi)
    output4 = list(map(returnInfo,reader))
output4[:3]

[('0', '0.1488486295446153', '0'),
 ('3', '0.2198529412734188', '1'),
 ('7', '0.15871379686112896', '0')]

In [150]:
list(map(sumvalue,list(reduce(ValueList,output4,{}).items())))

[['3', 294.32549925839936],
 ['0', 306.7099300824748],
 ['1', 316.7932728146584],
 ['9', 291.6814692769261],
 ['6', 302.75696574193245],
 ['7', 280.60299453618256],
 ['8', 274.59708283852575],
 ['5', 302.42642204212103],
 ['4', 320.75381401520707],
 ['2', 286.0854868555856]]

In [ ]:
list(pool.map(sumvalue,list(reduce(ValueList,pool.map(returnInfo,reader)),{}).items()))

In [166]:
with open('ADSSession2Task2Data.csv', 'r') as fi:
    reader = csv.DictReader(fi)
    chunk = []
    result = []
    
    chunksize = 1000
    pool = Pool(8)
    for i, line in enumerate(reader):
        
        if (i % chunksize == 0 and i > 0):
            
            output = list(pool.map(sumvalue,list(reduce(ValueList,pool.map(returnInfo,chunk),{}).items())))
            result += output
            chunk = []
            
        
        else:
            chunk.append(line)
        
    # MapReduce function for the last chunk
    output = list(pool.map(sumvalue,list(reduce(ValueList,pool.map(returnInfo,reader),{}).items())))
    result += output
    pool.close()

In [168]:
def reduceResults(result,record): #add rides from a new record to the dictionary accumilating type-origin-destination-time ridership
    Type,Value= record[0],record[1]

    result[Type] = result.get(Type,0) + Value

    return result

In [170]:
output=list(reduce(reduceResults,result,{}).items())

In [172]:
'''grading function
please pass your output into this function and upload the generated csv file 
together with your notebook to your GitHub repo'''

def grading(output):
    import pandas as pd
    pd.DataFrame(output,columns=['Type','Value']).to_csv('output2.csv',index=False)

grading(output)